
.post-paragraph:first-child{
    margin-top: 8px;
}
.post-paragraph{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: pre-wrap;
    word-break: break-word;
    width:100%;
    min-height: 1.5em;
    font-size:1em;
    font-weight: 400;
    line-height:1.5;
    font-family: 'Favorit Tumblr 85';

}

.image-container{
    width:100%;
    margin: 0 auto;
}

.image-figure{
    margin:0;

}

.image-box{
    width: 100%;
    overflow: hidden;
    padding-bottom:10px;
}

.post-image{
    width: 100%;
    display:block;
}

.textStrings{
    margin-bottom: .75em;
}