



.postContainer{
    position: relative;
}
.postContent{
    border-radius: 3px;
    width: 100%;
    max-width: 540px;
    background-color: rgba(var(--white));
    line-height:0;
    min-width:540px;
}
.postContent *{
    background-color: inherit;
    color: black;
}

.postMain{
    margin-bottom: 20px;
}

.post-blaze-container{
    min-width: 540px;
    display: flex;
    justify-content: flex-end;
    min-height:54px;


}
.profileEdits{
    border: none;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    line-height:1;
    position: relative;
    margin:0;
    font-size:1;
}
.profileEdits i{
    color: rgba(var(--black),.65);
    font-size: 1.05em;
}

.author-pfp{
    position: absolute;
    background-color: transparent;
    left: -86px;
    padding-top:10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 100%;
    
    
}
.author-pfp-frame img{
    width: 60px;
    height:60px;
    border-radius: 50%;
}

.author-pfp-frame{
    top: 60px;
    position: sticky;
}