.inputBody{
    background-color: RGB(var(--white));
    height:100%;
}
.input-container {
    display:flex;
    align-items: center;
    justify-content: space-between;


}
.inputmenucontainer{
    position: relative;
    background-color: transparent;
    right: 150px;
}
.inputbuttons {
    border: none;
    background-color: transparent;
    
    margin-left:16px
    
}
.inputmenubody{
    background-color: transparent;
}
.inputmenucontent{
    background-color: transparent;

    display:flex;
}

.inputicons{

}