
.postHeader{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 20px 15px 20px 15px;
    background-color: inherit;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: 'Favorit Tumblr';
}

.headerHover{
    z-index: 10;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}
.headerHover:hover .postHeader {
    background-color: rgba(var(--black),0.05);
}
.headercontent{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 21px;
    width: 448px;
    margin: auto;
    font-size: 14px;
}
.headercontent *{
    background-color: inherit;

    color: black;
}

.username-follow {
    background-color: inherit;

    display:flex;
    align-items: center;
}

.follow-button{
    margin-top:1px;
}
.follow-button:hover{
    cursor: pointer;
}


.follow-button span{
    color: rgb(0,184,255);
    font-size: .875rem;
    font-weight:700;
    line-height: 1.5;
    text-decoration: none;
}

.optionsMenu{
    background-color: rgba(var(--white));
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    border-radius: 3px;
    /* left: 296px; */
    right: -6px;
    
}
.optionsMenu *{
    /* width: 100%; */
    padding: 10px;
    text-align: center;
    font-size:1rem;
    font-weight: 400px;
    line-height:1.5;
    
}

.options-button{
    background-color: inherit;

    display: block;
    border-style:none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.optionscontent{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width:250px;

   
}
.time-date{
    border-bottom: solid black 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.options-button:hover {
    cursor: pointer;
    background-color: rgba(var(--black),0.1);

}
.button-content{
    background-color: transparent;
}

.option-links:hover{

    cursor: pointer;
    background-color: rgba(var(--black),0.05);
    
}




