
.dashboard-main{
    
    box-sizing: border-box;
    width:100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(var(--white-on-dark),.13);

}
.tabs{
    height: inherit;
}
.tabs a.active{
    border-bottom: 2px solid RGB(var(--accent));
}
.tab-selection{
    width: 540px;
    font-family: 'Favorit Tumblr';
    flex-wrap: nowrap;
    display: flex;
    height: inherit;

}

.tabs a{
    font-size: 18px;
    padding: 14px 16px 14px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: inherit;

}
.active{
    color: RGB(var(--accent));
}

.post-load-container{
    display: flex;
    justify-content: center;
    background-color: transparent;

}
.post-load-body{
    margin:auto;
    background-color: transparent;
    padding-top: 20px;
}

.post-load-body i{
    font-size: 50px;
    background-color: transparent;

}
.userload{
    color: grey;
}

.noposts-message{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    background-color: transparent;
    padding-top: 10px;

}
.noposts-message *{
    font-size: 20px;
    background-color: transparent;
    color: rgb(var(--green));

}
.noposts-message h2{
    font-family: 'Favorit Tumblr'
}