.modal-container{
  background-color: transparent;
  /* height: 100vh; */
}
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:transparent;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0,0,.1);


  

  }
  
  #modal-content {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    
  
  }

  