
.body{
    margin-top: 40px;
    /* padding-top: 24px; */
    display:flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* min-height: 100vh; */

    box-sizing: border-box;
    border-top: black;
    border-right: 1px solid rgba(var(--white-on-dark),.13);

}

.dashboard{
    width: 625px;
    box-sizing: inherit;
    padding-right: 14px;
    border-bottom: 1px solid rgba(var(--white-on-dark),.13);
    margin-bottom: 20px;

}
.header-container{
    width:100%;
    border-bottom: 1px solid rgba(var(--white-on-dark),.13);
    position: sticky;
    z-index: 99;
    background-color: RGB(var(--navy));
    top:0;
    height:55px;
}

