@import url(./font/stylesheet.css);
:root {
    --black: 0, 0, 0;
    --button-text: 0,0,0,0.5;
    --white: 255, 255, 255;
    --white-on-dark: 255, 255, 255;
    --navy: 0, 25, 53;
    --red: 255, 73, 48;
    --orange: 255, 138, 0;
    --yellow: 232, 215, 56;
    --green: 0, 207, 53;
    --blue: 0, 184, 255;
    --purple: 124, 92, 255;
    --pink: 255, 98, 206;
    --accent: 0, 184, 255;
    --secondary-accent: 229, 231, 234;
    --follow: 243, 248, 251;
    --color-title: rgb(var(--white-on-dark));
    --color-text: rgb(var(--white-on-dark));
    --color-subtext: rgb(var(--white-on-dark));
    --color-primary-link: rgb(var(--accent));
    --color-bluespace-background: rgb(var(--navy));
    --color-bluespace-card-background: rgba(var(--white-on-dark), 0.07);
    --color-modal-close-button: rgb(var(--navy));
    --color-modal-close-button-background: rgb(var(--white-on-dark));
    --font-family: "Favorit Tumblr 85", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif ;
    --border-radius-small: 3px;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    background-color: rgb(var(--navy));
    color: white;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
    font-family: 'Favorit Tumblr';
    font-weight:normal;
    font-style: italic;
    font-display: swap;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: var(--font-family);
    background: #001935;
    background: RGB(var(--navy));
    overscroll-behavior-x: none;
    overscroll-behavior-y: contain;
    --post-padding: 20px;
    --post-header-vertical-padding: 15px;
    --dashboard-tabs-header-height: 0px;
    
;
}

a{
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
button{
    cursor: pointer;
}
