.navBar-header{
    box-sizing: border-box;
    margin: auto;
    margin-right:100px;
    width: 100%;
    max-width: 1716px;
    height: 54px;
    padding-left: 50px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navBody{
    width:500px;
    

}

.navButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.session-links{
    display: flex;
    position: absolute;
}

/* need to add a new class to add that will turn icon white
need to add class when profile is clicked */
.post-button{
    border-radius: 5px;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 30px;
    display:flex;
    justify-content: center;

    
}
.post-button i{
    background-color: transparent;
}

.title{
    font-family: 'Inknut Antiqua', serif;
    font-size: 40px;
    background-color: transparent;
    line-height: 1;
}
.title a{
    height:100px;
    background-color: transparent;
}


.demo-login{
    --button-text: #000000;
    background-color: #00cf35;
    font-family: 'Favorit Tumblr';
    border-style: none;
    margin-right: 10px;
    padding-left: 15px;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}
.linkedin i{
    font-size: 30px;
    margin-right: 20px;
}
.github i{
    font-size: 30px;
    margin-right:20px;
}
