.profile{
    width: 100px;
    display: flex;
    justify-content: center;
   
}
#profileButton{
    position: absolute;
    border: none;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 30px;
    display:flex;
    justify-content: center;

}

.profile-menu{
    position: absolute;
    margin-top: 1.5%;
    transform: translate((-144px, 31px));
    width: 240px;
    overflow: hidden;
    height: auto;
    color: black;
    background-color:rgba(var(--white));
    
    
    
    
}

.profile-title{
    color: rgba(var(--black),0.65);
    display: flex;
    align-items:center;
    width: 100%;
    height: 36px;
    padding: 5px 20px 5px 10px;
    justify-content: space-between;
    background-color:rgba(var(--black),0.07);
    position: sticky;
    font-family: 'Favorit Tumblr 85';
    font-size: 14px;
}
.logout{
    font-family: inherit;
    background-color: transparent;
    border: 0px;
    color: inherit;
    font-size: .875rem;
    font-weight:400;
    line-height: 1.5;
    display: inline-block;
    
   
}
.logout:hover{
    cursor: pointer;
}
.dropdownlink{
    width:100%;
    
    background-color: inherit;
    color: inherit;
  

}
.profile-dropdown{
    background-color: transparent;
    color: inherit;

}
#account{
    color: inherit;

    background-color:transparent;
}


.menu-link{
    height: 41px;
    background-color:inherit;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    align-items: center;

}
.icon{
    background-color: transparent;
    width: 20px;
    height: 18px;
}
.icons{
    background-color: transparent;
    color: rgba(var(--black),0.65)
}
.menu-text{
    display: flex;
    width: 75%;
    justify-content: space-between;
    background-color: inherit;
}
.menu-text span{
    color: black;
    background-color:rgba(var(--white));
    font-size: 1rem;
    font-weight:400;
    font-family: 'Favorit Tumblr 85';
    margin-right: 10px;

}

