.passwordsignup-box{
    background-color: rgb(var(--purple));
    border-radius: 2px;
    height:450.97px;
    width: 99%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Favorit Tumblr';
    border-radius:5px;
    padding: 40px;

}
@media only screen and (min-width:600px){
    .passwordsignup-box{
        width:600px;
    }
    .password-form{
        width:520px;
    }
    .password-title{
        width: 120px;
    }
    .password-text{
        width:330px;
    }
    .password-instructions{
        width:330px;
    }
    .password-button{
        width: 330px;
    }
    .username-text{
        width:330px;
    }
    
}
.password-form{
    background-color: inherit;
    display: flex;
    width:330px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    color: white;
    margin:auto;

}

.password-title{
    margin-top: 14px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: inherit;
    height: 47px;
    width:99%;
    font-size: 30px;
    display: flex;
    justify-content: center;;


}

/* create wrapper around password instructions, password text, and button
display flex and center everything */
.username-text{
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.2);
    border: 2px solid transparent;
    box-sizing: border-box;
    height: 50px;
    width:99%;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight:400;
    line-height:1.333;
    color: rgba(255,255,255,.5);
    
}
.username-text::placeholder{
    color:rgba(255,255,255,.3);
}
.password-text{
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.2);
    border: 2px solid transparent;
    box-sizing: border-box;
    height: 50px;
    width:99%;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight:400;
    line-height:1.333;
    color: rgba(255,255,255,.5);

}
.password-text::placeholder{
    color:rgba(255,255,255,.3);
}
.password-instructions{
    background-color: inherit;
    width: 99%;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 400; 
    line-height: 1.333;
    margin-top:10px;
}
.password-instructions p{
    background-color: inherit;
    margin-bottom: .75em;
}
.password-button{
    box-sizing: content-box;
    margin-top: 20px;
    width: 99%;
    height: 50px !important; 
    background-color: rgba(255,255,255,.2);
    border: none;
    box-shadow: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(var(--button-text));
}
.password-button i{
    background-color: rgba(255,255,255,.0001);
    border-style: none;
    margin-left: 16px;
    color: rgba(var(--button-text));
    margin-bottom:1%;
    /* padding: 10px; */

    
}
.icon{
    margin-top:5px;
}
